.boundry {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 584px;
    margin-top: 14px;

}


		
		.boundry > div:nth-child(odd) {
	background: #ddd;
	
}
		
		.top {
			background:black;
			height: 120px;
			color: white;
			display: grid;
			grid-template-columns:12% 88%;

		}
		
	
.top-left{
	   padding: 0% 10% 4% 10%;
    color: #ddd;
    margin-top: -17px;
}
 .top-right{
 	   margin-top: 84px;
       margin-left: 0px;

 }
 button {
 	    width: 100px;
    	height: 27px;

 }
