
.top{
			background:black;
			height: 210px;
			color: white;
			display: grid;
			grid-template-columns:12% 88%;        

		}
		
	
.top-left{
	   padding: 0% 10% 4% 10%;        
    color: #ddd;
    margin-top: -28px;
}     

 ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: black;
}

.navigation li  {
  float: right;
}

li a {
  display: block;
  color: white ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:15px;
}
 .navbar{
 	text-decoration: none;
 	box-sizing: border-box;
 	margin-top: 69px;
 }

 .boundry {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 584px;
    margin-top: 14px;
}

.left-content{
	padding: 3%;
	background: #eee;
}
.hello{
	text-align: center;
}
.right-content {
	padding: 3%;
	text-align: center;
	padding-top: 75px;

}



.navbar{

	justify-content: space-between;
}





/*portfoliostart*/

.portfolio-contents{

			
			height:618px ;
			margin-top: 14px;
			display: grid;
			grid-template-columns: 15% 85%;

		}
		.left-pic{
			background: black;
			color: white;
		}
		.portfolio-contents-right{
			display: grid;
			grid-template-columns: 35% 65%;
			
		}

		.paragraphs{
			background: #eee;
			padding: 10px;
			color: black;

		}
		.paragraphs p {

		font-size: 30px;
	

		}


		
		.r-con{
			background: whitesmoke;
			
		}
		.skills li{
			font-size: 25px;
		}
		.skills h3{
			font-size: 26px;
		}
		





/*portfolioend*/


/*blogend*/
.blog-contents{
			height:618px ;
			margin-top: 14px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;


		}

		.blog-intro{
			background: #eee;
			display: grid;
			height: 229px;
		}
		.blog-intro p {
			font-size: 30px;
		}
		 		
		 .blog-left p{
			background: white;
			color: black;
			font-size: 30px;
			padding: 10px;
		}
		.blog-mid {
			background: #eee;
			font-size:30px ;
		}



		.blog-mid p{
			 
			font-size:30px ;
		}
		.blog-right p{
			background: white;
			padding: 10px;
			font-size:30px ;
		}
		.blog-intro p{
			background: skyblue;
			margin-top: 5px;
			margin-bottom: 5px;
			height: 80px;
			background: #eee;
			font-size:30px ;
         padding: 10px;
		}
		.heading{
			text-align: center;
			font-size: 40px;
		}





/*blogend*/




/*report*/

.report-contents{
			background: #eee;
			/*height: 785px;*/
			grid-auto-rows: minmax(auto,auto);
		}
.uon-id{


}






/*reportend*/




/*contactstart*/

.contacts {
	background: #eee;
}



.Division p {
	text-align: center;
}
 .con-me{
 	font-size: 50px;
 }
 .Division{
 	background: #ddd;
 }







/*contactend*/








.img h2 {
	color: darkred;

}





@media only screen and (max-width: 700px){
	.boundry{
		    margin-top: 14px;
    display: block;
	}
	.left-pic{
		display: none;
	}
	.portfolio-contents{
		    margin-top: 14px;
    display: block;
	}
	.blog-contents{

			height:618px ;
			margin-top: 14px;
			display: grid;
			grid-template-rows: 1fr 1fr 1fr;
			display: block;


		}

	.r-con{
		display: grid;
    grid-template-rows: unset;



	}

}
